.cta {
    padding-top: 10%;

    //* SMALL SCREENS ON LANDSCAPE
    @media only screen and (min-width: 600px) and (max-width: 999px) and (max-height: 499px) {
        padding-top: 2%;
    }

    //* MEDIUM SCREENS ON LANDSCAPE
    @media only screen and (min-width: 800px) and (max-width: 999px) and (orientation: landscape) {
        padding-top: 6%;
    }
    @media only screen and (min-width: 850px) and (max-width: 999px) and (max-height: 499px) {
        flex-basis: 45%;
    }

    //* BIG SCREENS ON LANDSCAPE
    @media only screen and (min-width: 1000px) and (orientation: landscape) {
        flex-basis: 42%;
        padding-top: 0;
    }
    @media only screen and (min-width: 1300px) and (orientation: landscape) {
        flex-basis: 48%;
    }
    @media only screen and (min-width: 1400px) and (orientation: landscape) {
        flex-basis: 50%;
    }

    &-trial {
        background-color: $color-accent;
        border-radius: 1rem;
        box-shadow: $shadow;
        cursor: pointer;
        margin-bottom: 3rem;
        padding: 6% 15%;
        text-align: center;
        transition: all .2s;

        @media only screen and (pointer: fine) {
            &:hover {
                box-shadow: $shadow-hover;
                transform: translateY(-.3rem);
            }
    
            &:active {
                box-shadow: $shadow-active;
                transform: translateY(.2rem);
            }
        }
        
        //* BIG SCREENS ON LANDSCAPE
        @media only screen and (min-width: 1000px) and (orientation: landscape) {
            padding: 4% 15%;
        }

        &__anchor {
            display: block;
            line-height: 1.8;
            width: 100%;
        }
    }

    &-form {
        background-color: $color-white-2;
        border-radius: 1rem;
        box-shadow: $shadow;
        padding: 5%;

        & .input-box {
            position: relative;

            &__input {
                border: 2px solid rgba($color-neutral-1, .1);
                border-radius: 6px;
                color: rgba($color-neutral-1, .65);
                font-family: inherit;
                font-size: 1.2rem;
                font-weight: 600;
                margin-bottom: 1.5rem;
                outline: none;
                padding: 1.5rem;
                width: 100%;

                &:focus {
                    border: 2px solid rgba($color-neutral-1, .35);
                }
    
                &.invalid-input {
                    border: 2px solid $color-primary-1;
                    color: $color-primary-1;
                    margin-bottom: .8rem;

                    &::placeholder {
                        color: $color-primary-1;
                    }
                }
    
                &::placeholder {
                    color: inherit;
                    font-size: inherit;
                    font-weight: inherit;
                    text-transform: capitalize;
                }
            }

            & .error-icon {
                position: absolute;
                right: 6%;
                top: 30%;
                transform: translateY(-30%);
                width: 2rem;
            }
        }

        &__button {
            background-color: $color-primary-2;
            border: none;
            border-radius: 6px;
            box-shadow: $shadow-green;
            color: $color-white;
            cursor: pointer;
            font-family: inherit;
            font-size: inherit;
            font-weight: 600;
            letter-spacing: 1px;
            margin-bottom: 1.5rem;
            outline: none;
            padding: 1.5rem 0;
            text-align: center;
            text-transform: uppercase;
            transition: all .2s;
            width: 100%;

            @media only screen and (pointer: fine) {
                &:hover {
                    box-shadow: $shadow-green-hover;
                    transform: translateY(-.3rem);
                }
                &:active {
                    box-shadow: $shadow-green;
                    transform: translateY(0);
                }
            }
        }

        &__terms {
            color: $color-neutral-2;
            margin-bottom: 1rem;
            padding: 0 5%;

            & .terms-link {
                color: $color-primary-1;
            }
        }
    }
}
.invalid,
.empty {
    color: $color-primary-1;
    font-size: 1.2rem;
    margin-bottom: 1.8rem;
    text-align: right;
}

.hidden {
    display: none;
}