*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: rgba($color-primary-1, .9);
    background-image: url(../images/bg-intro-mobile.png);
    box-sizing: border-box;
    overflow-x: hidden;
    padding-top: 7rem;
}