body {
    color: $color-white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
}

.heading-primary {
    font-weight: 700;
    line-height: 1.3;
    text-align: center;

    &::first-letter {
        text-transform: uppercase;
    }
}

.paragraph {
    line-height: 1.8;
    text-align: center;

    &--small {
        @extend .paragraph;
        font-size: 1.2rem;
    }
}

.link {
    color: inherit;
    text-decoration: none;
}